/* Write your custom CSS here */


.active-title a.active, .active-title a {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: -0.006em;
    line-height: 20px;
    font-weight: 450;
}

.active-title a.active:hover  {
    color: #2b3cbd;
}

.active-title a.active:active  {
    font-weight: 600;
}

.active-page{
    background-color: #2b3cbd;
}

.text-logout a.active{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    letter-spacing: -0.006em;
    line-height: 20px;
    font-weight: 450;
    color:  #f05154;
}

.text-logout a.active:hover  {
    color: #f5d0d0;
}

.text-logout a.active:active  {
    font-weight: 600;
}

.btn-medium{
   
    box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 450px;
    letter-spacing: 0.5px;
    color : white;
    padding : 7px 30px;
    background-color: #345B63;
    border-radius: 6px;
    border :none;
    margin-left: 70px;
    margin-bottom: 5px;
}

.btn-medium:hover{
    opacity: 70%;
}
.btn-medium:active{
    border:none;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}

.img-header{
    padding: 0px 3px 3px 0px;
    width: 40px;
    height: 100%;
}

.icon-navbar {
    color: #345B63;
}

.text-box {
    color: #3A3A3A;
    font-size: 30px;
    letter-spacing: -0.021em;
    line-height: 42px;
    font-weight: bold;
}
.img-landing{
    width:250px;
    margin-left:-20px;
    margin-top: -10px;
}
.container-new {
    margin-top: -10px;
    padding-left: 90px;
    padding-right: 90px;
}

.container-new{
    font-family: 'Inter', sans-serif;
}

.text-landing{
    color: #345B63;
    font-size: 80px;
    letter-spacing: -0.022em;
    line-height: 100px;
    font-weight: 900;
}

.text-landing-body{
    margin-top : -10px;
    font-size: 15px;
    letter-spacing: -0.009em;
    line-height: 21px;
    font-weight: 400;
}

.img-pens-landing{
    width:100px;

}

.information-box ul li{
    margin-bottom: 10px;
    
}

.information-box ul{
    list-style-type:none;
    margin-left: -30px;
}

.icon-landing{
    margin-right: 3px;
}

.login-container{
    padding-left: 90px;
    padding-right: 90px;
    font-family: 'Inter', sans-serif;
}
.auth-form{
    margin-top:50px;
}

.heading-text1{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    letter-spacing: -0.021em;
    line-height: 42px;
    font-weight: 700;
    color:#345B63
}

.navbar-toggler-icon{
    color:#345B63;
}

.nav-item{
    margin-top:-10px;
}

#mapid{
    position: relative;
    z-index: 1;
    margin-left : 20px;
    margin-right : 30px;
    margin-bottom : 50px;
}

.scroll{
    overflow-y: scroll;
    height: 300px;
    width: 400px;
}

@media (max-width: 1199px) {
    .container-new{
    margin-top: 50px;
    }

    .telegram-img{
        width:100%;
    }
    .auth-form{
        margin-top:100px;
    }
    .auth-img{
        margin-top:50px;
    }
}