/*------------------------------------------------------------
[Table of contents]

1. Global Styles
2. CSS Utilities
3. Layout
4. UI Elements
5. Charts
6. Plugins
7. Apps
8. Responsive

------------------------------------------------------------*/

/*------------------------------------------------------------
[1. Global Styles]
------------------------------------------------------------*/

html, 
body {
    font-size: 14px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #F8FAF9;
    font-weight: normal;
    color: #7D7D83;
    line-height: 1.6;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

a {
    color: #5fd0a5;
}

a:hover {
    color: #38a67c;
}

p {
    line-height: 1.6;
}

small {
    font-size: 80%;
    font-weight: 400;
}

menu {
    padding-left: 0px;
}

body,
span,
text,
a {
    font-family: 'Lato', sans-serif;
}

a:hover,
a:active,
a:focus {
    outline: none!important;
    text-decoration: none!important;
}

b, 
strong,
.bold {
    font-weight: 600;
}


/* Utilities */

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

/* Divider */

.divider {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background: #e8e8e8;
    margin: 30px 0;
}

/* Margins & Paddings */

.no-s {
    margin: 0px!important;
    padding: 0px!important;
}

.no-m {
    margin: 0;
}

.no-p {
    padding: 0;
}

.m {
    margin: 15px;
}

.m-t-xxs {
    margin-top: 5px;
}

.m-r-xxs {
    margin-right: 5px;
}

.m-b-xxs {
    margin-bottom: 5px;
}

.m-l-xxs {
    margin-left: 5px;
}

.m-t-xs {
    margin-top: 10px;
}

.m-r-xs {
    margin-right: 10px;
}

.m-b-xs {
    margin-bottom: 10px;
}

.m-l-xs {
    margin-left: 10px;
}

.m-t-sm {
    margin-top: 15px;
}

.m-r-sm {
    margin-right: 15px;
}

.m-b-sm {
    margin-bottom: 15px;
}

.m-l-sm {
    margin-left: 15px;
}

.m-t-md {
    margin-top: 20px;
}

.m-r-md {
    margin-right: 20px;
}

.m-b-md {
    margin-bottom: 20px;
}

.m-l-md {
    margin-left: 20px;
}

.m-t-lg {
    margin-top: 25px;
}

.m-r-lg {
    margin-right: 25px;
}

.m-b-lg {
    margin-bottom: 25px;
}

.m-l-lg {
    margin-left: 25px;
}

.m-t-xxl {
    margin-top: 30px;
}

.m-r-xxl {
    margin-right: 30px;
}

.m-b-xxl {
    margin-bottom: 30px;
}

.m-l-xxl {
    margin-left: 30px;
}

.m-t-n-xxs {
    margin-top: -5px;
}

.m-r-n-xxs {
    margin-right: -5px;
}

.m-b-n-xxs {
    margin-bottom: -5px;
}

.m-l-n-xxs {
    margin-left: -5px;
}

.m-t-n-xs {
    margin-top: -10px;
}

.m-r-n-xs {
    margin-right: -10px;
}

.m-b-n-xs {
    margin-bottom: -10px;
}

.m-l-n-xs {
    margin-left: -10px;
}

.m-t-n-sm {
    margin-top: -15px;
}

.m-r-n-sm {
    margin-right: -15px;
}

.m-b-n-sm {
    margin-bottom: -15px;
}

.m-l-n-sm {
    margin-left: -15px;
}

.m-t-n-md {
    margin-top: -20px;
}

.m-r-n-md {
    margin-right: -20px;
}

.m-b-n-md {
    margin-bottom: -20px;
}

.m-l-n-md {
    margin-left: -20px;
}

.m-t-n-lg {
    margin-top: -25px;
}

.m-r-n-lg {
    margin-right: -25px;
}

.m-b-n-lg {
    margin-bottom: -25px;
}

.m-l-n-lg {
    margin-left: -25px;
}

.m-t-n-xxl {
    margin-top: -30px;
}

.m-r-n-xxl {
    margin-right: -30px;
}

.m-b-n-xxl {
    margin-bottom: -30px;
}

.m-l-n-xxl {
    margin-left: -30px;
}

.p {
    padding: 15px;
}

.p-h-xxs {
    padding-left: 5px;
    padding-right: 5px;
}

.p-h-xs {
    padding-left: 10px;
    padding-right: 10px;
}

.p-h-sm {
    padding-left: 15px;
    padding-right: 15px;
}

.no-p-h {
    padding-left: 0;
    padding-right: 0;
}

.no-p-v {
    padding-top: 0;
    padding-bottom: 0;
}

.p-h-md {
    padding-left: 20px;
    padding-right: 20px;
}

.p-h-lg {
    padding-left: 25px;
    padding-right: 25px;
}

.p-h-xxl {
    padding-left: 30px;
    padding-right: 30px;
}

.p-v-xxs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.p-v-xs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.p-v-sm {
    padding-top: 15px;
    padding-bottom: 15px;
}

.p-v-md {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-v-lg {
    padding-top: 25px;
    padding-bottom: 25px;
}

.p-v-xxl {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Width & Height */

.full-height {
    height: 100%!important;
}

.full-width {
    width: 100%!important;
}

.w-xxs {
    width: 50px;
}

.w-xs {
    width: 90px;
}

.w-sm {
    width: 140px;
}

.w {
    width: 200px;
}

.w-md {
    width: 240px;
}

.w-lg {
    width: 280px;
}

.w-xl {
    width: 330px;
}

.w-xxl {
    width: 370px;
}

.w-auto {
    width: auto;
}

.h-auto {
    height: auto;
}


/* Borders */

.no-b {
    border: 0!important;
}

.b {
    border: 1px solid #E6E6E6;
}

.b-t {
    border-top: 1px solid #E6E6E6;
}

.b-r {
    border-right: 1px solid #E6E6E6;
}

.b-b {
    border-bottom: 1px solid #E6E6E6;
}

.b-l {
    border-left: 1px solid #E6E6E6;
}

.b-default {
    border-color: #E6E6E6;
}

.b-primary {
    border-color: #037AFB;
}

.b-info {
    border-color: #5780F7;
}

.b-success {
    border-color: #59BB56;
}

.b-warning {
    border-color: #FACC35;
}

.b-danger {
    border-color: #EB463F;
}

.b-2 {
    border-width: 2px;
}

.b-3 {
    border-width: 3px;
}

.b-4 {
    border-width: 4px;
}

.b-n-t {
    border-top: 0;
}

.b-n-r {
    border-right: 0;
}

.b-n-b {
    border-bottom: 0;
}

.b-n-l {
    border-left: 0;
}


/* Radius */

.no-r {
    border-radius: 0!important;
}

.r {
    border-radius: 2px;
}

.r-t-l {
    border-top-left-radius: 2px;
}

.r-t-r {
    border-top-right-radius: 2px;
}

.r-b-l {
    border-bottom-left-radius: 2px;
}

.r-b-r {
    border-bottom-right-radius: 2px;
}

.no-r-t-l {
    border-top-left-radius: 0!important;
}

.no-r-t-r {
    border-top-right-radius: 0!important;
}

.no-r-b-l {
    border-bottom-left-radius: 0!important;
}

.no-r-b-r {
    border-bottom-right-radius: 0!important;
}

/* Backgrounds */

.bg-primary {
    background-color: #5fd0a5!important;
}

.bg-secondary {
    background-color: #F4F4F5!important;
}

.bg-success {
    background-color: #5fd0a5!important;
}

.bg-danger {
    background-color: #f05154!important;
}

.bg-warning {
    background-color: #F49E31!important;
}

.bg-info {
    background-color: #36A1EA!important;
}

.bg-light {
    background-color: #F8FAF9!important;
}

.bg-dark {
    background-color: #4a4a4a!important;
}


/* Text Colors */

.text-primary {
    color: #56C4B6!important;
}

.text-secondary {
    color: #F4F4F5!important;
}

.text-success {
    color: #5fd0a5!important;
}

.text-danger {
    color: #f05154!important;
}

.text-warning {
    color: #F49E31!important;
}

.text-info {
    color: #36A1EA!important;
}

.text-light {
    color: #F8FAF9!important;
}

.text-dark {
    color: #4a4a4a!important;
}


/*------------------------------------------------------------
[3. LAYOUT]
------------------------------------------------------------*/

/* Container */

.connect-container {
    min-height: 100vh;
}

.page-container {
    margin-left: 280px;
    width: 100%;
    position: relative;
}


/* Sidebar */

.page-sidebar {
    width: 280px;
    position: fixed;
    background: #fff;
    top: 0;
    bottom: 0;
    padding: 30px;
    font-family: 'Inter', sans-serif;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.slimScrollDiv,
.page-sidebar-inner {
    height: 100%!important;
}

.logo-box {   
    display: block;
    padding: 15px 20px;
}

.logo-text {
    color: #345B63;
    text-transform: capitalize;
    font-weight: black;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.logo-box a#sidebar-state,
.logo-box a#sidebar-close {
    float: right;
    color: #7D7D83;
    line-height: 19px;
    margin: 8px 0;
    opacity: .8;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.logo-box a#sidebar-state i,
.logo-box a#sidebar-close i {
    font-size: 19px;
    vertical-align: text-top;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.logo-box a#sidebar-state:hover,
.logo-box a#sidebar-close:hover {
    color: #2b3cbd;
}

@media (max-width: 1199px) {
    .logo-box a#sidebar-state {
        visibility: hidden;
        width: 0;
        opacity: 0;
    }
}

@media (min-width: 1200px) {
    .logo-box a#sidebar-state i.compact-sidebar-icon,
    .compact-sidebar .logo-box a#sidebar-state i:not(.compact-sidebar-icon) {
        visibility: hidden;
        width: 0;
        opacity: 0;
    }

    .compact-sidebar .logo-box a#sidebar-state i.compact-sidebar-icon {
        visibility: visible;
        opacity: 1;
        width: auto;
    }

    #sidebar-close {
        visibility: hidden;
        width: 0;
        opacity: 0;
    }
}

.logo-box a:hover {
    color: #38a67c;
}

.accordion-menu {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    border-radius: 10px;
}

.accordion-menu > li {
    border-radius: 10px;
    overflow: hidden;
}

.accordion-menu > li > a {
    display: block;
    padding: 12px 20px;
    font-size: 13px;
    color: rgba(125, 125, 131, .8);
    line-height: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 900;
    
}

.accordion-menu > li > a > i {
    font-size: 18px;
    margin-right: 10px;
    vertical-align: top;
    line-height: 20px;
}

.accordion-menu li a i.has-sub-menu {
    float: right;
    margin-right: 0px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.accordion-menu > li {
    margin: 3px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.accordion-menu li.open {
    background: rgba(0,0,0,.02);
}

.accordion-menu li.open > a {
    color: #2b3cbd;
}

.accordion-menu > li > a:hover,
.accordion-menu > li.active-page > a {
    color: #2b3cbd;
    background: rgba(0,0,0,.01);
}

.accordion-menu li.active-page > a:only-child {
    background: #2b3cbd;
    color: #fff;
}

.accordion-menu li.open a i.has-sub-menu {
    transform: rotate(135deg);
}

.accordion-menu li.sidebar-title {
    padding: 20px 20px 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0,0,0);
    font-size: 12px;
    opacity: .25;
    font-family: 'Montserrat', sans-serif;
}

.accordion-menu li.sidebar-title:first-child {
    padding-top: 15px;
}

.accordion-menu li ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 10px 0;
    -webkit-transition: background .05s ease-in-out;
    -moz-transition: background .05s ease-in-out;
    -o-transition: background .05s ease-in-out;
    transition: background .05s ease-in-out;
}

.accordion-menu li ul li a {
    display: block;
    padding: 8px 20px 8px 48px;
    font-size: 13px;
    color: rgba(125, 125, 131, .7);
    font-weight: bold;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out ease-in-out;
    opacity: 0;
}

.accordion-menu li ul li a:hover,
.accordion-menu li ul li a.active {
    color: rgba(100, 100, 107, 1);
}

.accordion-menu li.open > ul > li > a {
    opacity: 1;
}


/* Compact Sidebar */

@media (min-width: 1200px) {
    .compact-sidebar .page-sidebar {
        width: 80px;
        padding: 30px 0;
        position: static;
        box-shadow: none;
    }
    
    .compact-sidebar .page-sidebar:before {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80px;
        background: #fff;
        display: block;
        content: '';
        box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    }
    
    .compact-sidebar .page-sidebar .slimScrollDiv,
    .compact-sidebar .page-sidebar .page-sidebar-inner,
    .compact-sidebar .accordion-menu > li:not(.sidebar-title) {
        overflow: visible!important;
    }
    
    .compact-sidebar .accordion-menu > li {
        position: relative;
    }
    
    .compact-sidebar .page-container {
        width: calc(100% - 80px);
        margin-left: 0;
    }
    
    .compact-sidebar .logo-box {
        text-align: center;
    }
    
    .compact-sidebar .logo-box .logo-text {
        display: none;
    }
    
    .compact-sidebar .logo-box #sidebar-state {
        float: none;
        display: block;
    }
    
    .compact-sidebar .accordion-menu {
        padding: 0 12px;
    }
    
    .compact-sidebar .accordion-menu .sidebar-title {
        padding: 20px 0 10px;
        text-align: center;
        text-overflow: ellipsis; 
        white-space: nowrap;
        width: 100%;
        hyphens: auto;
        overflow: hidden;
    }
    
    .compact-sidebar .accordion-menu > li > a {
        font-size: 0;
        line-height: 0;
        border-radius: 10px;
    }
    
    .compact-sidebar .accordion-menu > li > a > i.has-sub-menu {
        display: none;
    }
    
    .compact-sidebar .accordion-menu ul {
        position: absolute;
        left: 87px;
        top: 0;
        background: #fff;
        padding-left: 0;
        min-width: 180px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
        z-index: 99;
    }
    
    .compact-sidebar .accordion-menu ul:before {
        top: 15px;
        position: absolute;
        display: inline-block!important;
        content: '';
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #fff;
        left: -7px;
    }
    
    
    .compact-sidebar .accordion-menu ul li a {
        padding-left: 20px;
        font-size: 13px;
        font-weight: bold;
        color: rgba(125, 125, 131, .8);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
    
    .compact-sidebar .accordion-menu ul li a:hover,
    .compact-sidebar .accordion-menu ul li a.active {
        color: #2b3cbd;
    }
}

/* Small Screen Sidebar */

.small-screen-sidebar-active .page-sidebar {
    transform: translateX(0);
}

/* Header */

.page-header{
    height: 70px;
}
.page-header .navbar {
    padding: 10px 30px;
}

.page-header .navbar-collapse .navbar-nav {
    margin-left: auto;
    margin-right: 28px;
}

.page-header .navbar ul.navbar-nav > li > a {
    font-size: 13px;
    margin: 0 10px 0 0;
    color: #345B63;
    line-height: 22px;
    padding: 12px 7px;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.small-screens-sidebar-link {
    display: none;
}

.page-header .navbar ul.navbar-nav > li > a > i:only-child {
    font-size: 18px;
    line-height: 18px;
    vertical-align: text-top;
}

.page-header .navbar ul.navbar-nav > li > a:hover {
    color: #262633;
}

.page-header .navbar ul li a.dropdown-toggle::after {
    display: none;
}

.page-header .navbar ul li a.dropdown-toggle i.dropdown-icon {
    font-size: 18px;
    line-height: 18px;
    vertical-align: text-top;
    margin-left: 5px;
}

.page-header .navbar-search .form-group {
    margin-bottom: 0;
}

.page-header .navbar-search #nav-search {
    border-radius: 20px;
    border: 0;
    padding: 10px 22px;
    font-size: 13px;
    background: #EDEDF1;
    color: #7D7D83;
    font-weight: bold;
    display: block;
    border: 2px solid transparent;
    margin: 6px 0 6px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.page-header .navbar-search #nav-search:focus {
    outline: 0;
    border-color: #5fd0a5;
    background: #fff;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08);
}

.page-header .navbar ul li.nav-profile > a {
    padding: 0 7px;
}

.page-header .navbar ul li.nav-profile > a img {
    width: 42px;
    border-radius: 42px;
    border: 3px solid #EDEDF1;
    margin-right: 14px;
}

.page-header .navbar ul li.nav-profile > a span {
    line-height: 46px;
}

.page-header .navbar ul li.nav-profile .dropdown-menu {
    margin-top: 10px;
    width: 175px;
    transform: scale(.9);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.page-header .navbar ul li.nav-profile.show .dropdown-menu {
    transform: scale(1);
}

.page-header .navbar ul li.nav-profile .dropdown-menu:after {
    left: 18px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -10px;
    display: none!important;
}

.page-header .navbar ul li a#dark-theme-toggle i {
    font-size: 18px;
    line-height: 18px;
    vertical-align: text-top;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.page-header .navbar ul li a#dark-theme-toggle i.material-icons {
    visibility: hidden;
    opacity: 0;
    width: 0;
}



/* Dropdown Menu */

.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    padding: 15px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08);
    width: auto;
    margin: 10px 0;
}

.show .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
}

.dropdown-menu a.dropdown-item {
    font-size: 13px;
    padding: 8px 26px;
    display: block;
    color: rgba(125, 125, 131, .8);
    font-weight: 700;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.dropdown-menu a.dropdown-item:hover {
    color: #2b3cbd;
    background: transparent;
}

.dropdown-menu .dropdown-divider {
    margin: 7px 0;
    border-top-color: #e8e8e8;
}

/* SlimScroll */

.slimScrollBar {
    background: rgba(0,0,0,.2)!important;
    border-radius: 4px!important;
}

.compact-sidebar .page-sidebar .slimScrollBar {
    display: none!important;
}

/* Page Content */

.page-content{
    margin-left: 250px;

}
.page-content {
    padding: 0 35px;
}

.page-content .page-info .breadcrumb {
    background: transparent;
    padding: 0 7px;
    font-weight: bold;
    color: #7D7D83;
    line-height: 40px;
    font-size: 13px;
    margin-bottom: 0;
    float: left;
}

.page-content .page-info .breadcrumb li.active {
    opacity: .6;
}

.page-content .page-info .page-options {
    float: right;
}

.page-content .page-info .page-options .btn {
    margin-bottom: 0;
}

.page-content .page-info .page-options .btn:not(:last-child) {
    margin-right: 10px;
}

.page-content .main-wrapper {
    clear: both;
    padding-top: 30px;
}

.page-content .page-info {
    overflow: hidden;
    padding: 3px 3px 3px 0;
}

.page-content .page-title {
    padding: 0 7px 30px;
}

.page-content .page-title h3 {
    font-weight: 900;
    font-size: 24px;
}

.page-content .page-title .page-desc {
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 0;
}

/* Page Footer */

.page-footer {
    padding: 25px 42px 35px;
    display: block;
    clear: both;
}


/*------------------------------------------------------------
[4. UI ELEMENTS]
------------------------------------------------------------*/

/* Buttons */

.btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 450px;
    letter-spacing: 0.5px;
    padding: 9px 24px;
    border-radius: 7px;
    border: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    z-index: 1;
}

.dropdown-toggle-split {
    padding-right: 10px!important;
    padding-left: 10px!important;
    border-left: 1px solid rgba(0,0,0,.04)!important;
}

.btn-xs {
    padding: 4px 7px;
    font-size: 11px;
}

.btn-sm {
    padding: 7px 15px;
    font-size: 12px;
}

.btn-lg {
    padding: 12px 30px;
    font-size: 14px;
}

.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled.active,
.btn:disabled:active {
    box-shadow: none!important;
}

.btn.btn-primary {
    color: #fff;
    background: #345B63;
}

.btn-primary:before {
    border-radius: inherit;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #345B63;
    z-index: -1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.btn-primary:hover:before {
    opacity: 1;
}

.btn.btn-primary:focus:before,
.btn.btn-primary.active:before,
.btn.btn-primary:active:before {
    opacity: 1;
}

.btn.btn-primary:focus,
.btn.btn-primary.active,
.btn.btn-primary:active {
    box-shadow: 0 0 0 0.2rem rgba(77,189,146, 0.25);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, 
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(77,189,146, 0.5);
}

.btn.btn-secondary {
    color: #7D7D83;
    background: #F4F4F5;
}

.btn.btn-secondary:hover {
    background: #e8e8e8!important;
    color: #7D7D83!important;
}

.btn.btn-secondary:focus,
.btn.btn-secondary.active,
.btn.btn-secondary:active {
    background: #e8e8e8!important;
    box-shadow: 0 0 0 0.2rem rgba(230, 230, 230, 0.25);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active:focus, 
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus,
.show > .btn-secondary.dropdown-toggle {
    color: #7D7D83!important;
    background: #e8e8e8!important;
    box-shadow: 0 0 0 0.2rem rgba(230, 230, 230, 0.5);
}

.btn.btn-success {
    color: #2b3cbd;
    background-color: #DDF0F1;
}

.btn.btn-success:hover {
    background: #d1e9eb!important;
}

.btn.btn-success:focus,
.btn.btn-success.active,
.btn.btn-success:active {
    background: #d1e9eb!important;
    box-shadow: 0 0 0 0.2rem rgba(95, 208, 165, 0.05);
}

.btn-success:not(:disabled):not(.disabled):active:focus, 
.btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus,
.show > .btn-secsuccessondary.dropdown-toggle {
    color: #2b3cbd;
    background: #d1e9eb!important;
    box-shadow: 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}

.btn.btn-danger {
    color: #f05154;
    background: #fcdcdc;
}

.btn.btn-danger:hover {
    background: #f5d0d0!important;
}

.btn.btn-danger:focus,
.btn.btn-danger.active,
.btn.btn-danger:active {
    background: #f5d0d0!important;
    box-shadow: 0 0 0 0.2rem rgba(240, 81, 84, 0.05);
}

.btn-danger:not(:disabled):not(.disabled):active:focus, 
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus ,
.show > .btn-danger.dropdown-toggle{
    color: #f05154;
    background: #f5d0d0!important;
    box-shadow: 0 0 0 0.2rem rgba(240, 81, 84, 0.25);
}

.btn.btn-warning {
    color: #F49E31;
    background: #fff4e6;
}

.btn.btn-warning:hover {
    background: #f5e9da!important;
}

.btn.btn-warning:focus,
.btn.btn-warning.active,
.btn.btn-warning:active {
    background: #f5e9da!important;
    box-shadow: 0 0 0 0.2rem rgba(244, 160, 49, 0.05);
}

.btn-warning:not(:disabled):not(.disabled):active:focus, 
.btn-warning:not(:disabled):not(.disabled).active:focus,
.show > .btn-warning.dropdown-toggle:focus,
.show > .btn-warning.dropdown-toggle {
    background: #f5e9da!important;
    color: #F49E31;
    box-shadow: 0 0 0 0.2rem rgba(244, 160, 49, 0.25);
}

.btn.btn-info {
    color: #36A1EA;
    background: #d5e9f7;
}

.btn.btn-info:hover {
    background: #c9e0f0!important;
}

.btn.btn-info:focus,
.btn.btn-info.active,
.btn.btn-info:active {
    background: #c9e0f0!important;
    box-shadow: 0 0 0 0.2rem rgba(54, 162, 234, 0.05);
}

.btn-info:not(:disabled):not(.disabled):active:focus, 
.btn-info:not(:disabled):not(.disabled).active:focus,
.show > .btn-info.dropdown-toggle:focus,
.show > .btn-info.dropdown-toggle {
    color: #36A1EA;
    background: #c9e0f0!important;
    box-shadow: 0 0 0 0.2rem rgba(54, 162, 234, 0.25);
}

.btn.btn-light {
    color: #737373;
    background: #F8FAF9;
}

.btn.btn-light:hover {
    background: #F8FAF9!important;
    color: #737373!important;
}

.btn.btn-light:focus,
.btn.btn-light.active,
.btn.btn-light:active {
    background: #f0f0f0!important;
    box-shadow: 0 0 0 0.2rem rgba(115, 115, 115, 0.05);
}

.btn-light:not(:disabled):not(.disabled):active:focus, 
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus,
.show > .btn-light.dropdown-toggle {
    background: #f0f0f0!important;
    box-shadow: 0 0 0 0.2rem rgba(115, 115, 115, 0.25);
}

.btn.btn-dark {
    color: #d4d4d4;
    background: #4a4a4a;
}

.btn.btn-dark:hover {
    background: #363636!important;
}

.btn.btn-dark:focus,
.btn.btn-dark.active,
.btn.btn-dark:active {
    background: #363636!important;
    box-shadow: 0 0 0 0.2rem rgba(74, 74, 74, 0.25);
}

.btn-dark:not(:disabled):not(.disabled):active:focus, 
.btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus,
.show > .btn-dark.dropdown-toggle {
    color: #d4d4d4;
    background: #363636!important;
    box-shadow: 0 0 0 0.2rem rgba(74, 74, 74, 0.5);
}

.btn.btn-link {
    color: #037AFB;
    text-decoration: none!important;
}

.btn.btn-link:hover {
    background: #E9F1FE!important;
}

.btn.btn-outline-primary {
    border: 1px solid #2b3cbd;
    color: #2b3cbd;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark {
    box-shadow: none!important;
}

.btn-outline-primary:before {
    border-radius: inherit;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(71,176,165,1) 0%, rgba(77,189,146,1) 48%, rgba(83,198,125,1) 100%);
    z-index: -1;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.btn.btn-outline-primary:hover {
    color: #fff;
    background:transparent;
    border-color: transparent;
}

.btn.btn-outline-primary:active:focus {
    background:transparent;
    border-color: transparent;
}

.btn.btn-outline-primary:hover:before {
    opacity: 1;
}

.btn.btn-outline-secondary {
    border: 1px solid #F4F4F5;
    color: #7D7D83;
}

.btn.btn-outline-secondary:hover,
.btn.btn-outline-secondary:active:focus {
    background: #F4F4F5;
    border-color: #F4F4F5;
    color: #7D7D83;
}

.btn.btn-outline-success {
    border: 1px solid #DDF0F1;
    color: #2b3cbd;
}

.btn.btn-outline-success:hover,
.btn.btn-outline-success:active:focus {
    background: #DDF0F1;
    border-color: #DDF0F1;
    color: #2b3cbd;
}

.btn.btn-outline-danger {
    border: 1px solid #fcdcdc;
    color: #f05154;
}

.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:active:focus {
    background: #fcdcdc;
    border-color: #fcdcdc;
    color: #f05154;
}

.btn.btn-outline-warning {
    border: 1px solid #fff4e6;
    color: #F49E31;
}

.btn.btn-outline-warning:hover,
.btn.btn-outline-warning:active:focus {
    background: #fff4e6;
    border-color: #fff4e6;
    color: #F49E31;
}

.btn.btn-outline-info {
    border: 1px solid #d5e9f7;
    color: #36A1EA;
}

.btn.btn-outline-info:hover,
.btn.btn-outline-info:active:focus {
    background: #d5e9f7;
    border-color: #d5e9f7;
    color: #36A1EA;
}

.btn.btn-outline-light {
    border: 1px solid #F8FAF9;
    color: #737373;
}

.btn.btn-outline-light:hover,
.btn.btn-outline-light:active:focus {
    background: #F8FAF9;
    border-color: #F8FAF9;
    color: #737373;
}

.btn.btn-outline-dark {
    border: 1px solid #4a4a4a;
    color: #4a4a4a;
}

.btn.btn-outline-dark:hover,
.btn.btn-outline-dark:active:focus {
    background: #4a4a4a;
    border-color: #4a4a4a;
    color: #d4d4d4;
}

/* Cards */

.card {
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08);
    margin-bottom: 20px;
    border: 0!important;
    border-radius: 10px;
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}

.card-img {
    border-radius: 10px;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-img-overlay {
    padding: 25px;
}

.card .card-header {
    background: transparent;
    padding: 15px 25px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #5c6662;
    border-color: #e8e8e8;
}

.card .card-title {
    margin-bottom: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #5c6662;
}

.card .card-title .card-title-helper {
    float: right;
    opacity: .6;
    color: #7D7D83;
    text-transform: none;
    font-size: 13px;
}

.card .card-title a.card-title-helper {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.card .card-title a.card-title-helper:hover {
    color: #2b3cbd;
}

.card .card-title .card-title-helper i {
    font-size: 19px;
}

.card.text-white .card-title {
    color: #fff;
}

.card .card-footer {
    padding: 15px 25px;
    background: transparent;
    font-size: 13px;
    border-color: #e8e8e8;
}

.card .card-body {
    padding: 25px;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-header:first-child {
    border-radius: 10px 10px 0 0;
}

.card.card-transparent {
    background: transparent!important;
    box-shadow: none;
}


/* Alerts */

.alert {
    padding: 15px 25px;
    border: 0;
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
}

.alert-heading {
    color: inherit;
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.alert hr {
    border-color: rgba(0,0,0,.1)!important;
}

.alert.alert-primary {
    color: #fff;
    background: #61D39F;
}

.alert.alert-primary .alert-link {
    color: #e6fff3;
}

.alert.alert-secondary {
    color: #7D7D83;
    background: #F4F4F5;
}

.alert.alert-secondary .alert-link {
    color: #4d5450;
}

.alert.alert-success {
    color: #2b3cbd;
    background: #cdf7e7;
}

.alert.alert-success .alert-link {
    color: #219166;
}

.alert.alert-danger {
    color: #f05154;
    background: #fcdcdc;
}

.alert.alert-danger .alert-link {
    color: #9e1517;
}

.alert.alert-warning {
    color: #F49E31;
    background: #fff4e6;
}

.alert.alert-warning .alert-link {
    color: #c97e1a;
}

.alert.alert-info {
    color: #36A1EA;
    background: #d5e9f7;
}

.alert.alert-info .alert-link {
    color: #0b6fb3;
}

.alert.alert-light {
    color: #737373;
    background: #F8FAF9;
}

.alert.alert-light .alert-link {
    color: #454545;
}

.alert.alert-dark {
    color: #d4d4d4;
    background: #4a4a4a;
}

.alert.alert-dark .alert-link {
    color: #fff;
}


/* List Group */

.list-group-item {
    padding: 15px 25px;
    font-size: 13px;
    border-color: #e8e8e8;
    background-color: transparent;
}

.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-group-item.active {
    color: #fff;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(85,195,183,1) 0%, rgba(95,208,165,1) 48%, rgba(102,218,144,1) 100%);
    border-color: #DDF0F1;
}

.list-group-horizontal .list-group-item:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Badges */

.badge {
    padding: 7px 12px;
    font-weight: bold;
    font-size: 75%!important;
}

.badge:not(.badge-pill) {
    border-radius: 7px;
}

.btn .badge {
    margin-left: 10px;
}

.badge.badge-primary {
    color: #fff;
    background: #61D39F;
}

.badge.badge-secondary {
    background: #EDEDF1;
    color: #7D7D83;
}

.badge.badge-success {
    color: #2b3cbd;
    background: #cdf7e7;
}

.badge.badge-danger {
    color: #f05154;
    background: #fcdcdc;
}

.badge.badge-warning {
    color: #F49E31;
    background: #fff4e6;
}

.badge.badge-info {
    color: #36A1EA;
    background: #d5e9f7;
}

.badge.badge-light {
    color: #737373;
    background: #F8FAF9;
}

.badge.badge-dark {
    color: #d4d4d4;
    background: #4a4a4a;
}

/* Breadcrumb */

.breadcrumb {
    padding: 0px 25px;
    border-radius: 10px;
    background: #F4F4F5;
    font-size: 13px;
    letter-spacing: -0.003em;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: rgba(27, 29, 93, .3);
}

.breadcrumb-separator-1 .breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-separator-2 .breadcrumb-item+.breadcrumb-item::before {
    font-family: "Material Icons";
    vertical-align: middle;
}

.breadcrumb-separator-1 .breadcrumb-item+.breadcrumb-item::before {
    content: '\e315';
}

.breadcrumb-separator-2 .breadcrumb-item+.breadcrumb-item::before {
    content: '\e5c8';
}


/* Accordion */


.accordion > .card {
    margin-bottom: 0;
    box-shadow: none;
    border: 1px solid #e8e8e8!important;
    border-bottom: 0!important;
}

.accordion > .card:last-child {
    border: 1px solid #e8e8e8!important;
}

.accordion > .card .card-header {
    cursor: pointer;
    background: #fafafa;
}

/* Modals */

body.modal-open {
    overflow: visible;
}

.modal-content {
    border: 0;
    box-shadow: 0 3px 10px rgba(62, 85, 120,.045);
    border-radius: 10px;
}

.modal-header {
    border-bottom: 0;
    padding: 25px 25px 20px;
}

.modal-title {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #5c6662;
    line-height: 21px;
}

.modal-body {
    padding: 0 25px;
}

.modal-footer {
    padding: 20px 25px 25px;
    border: 0;
}

.modal-header .close i {
    font-size: 18px!important;
    color: #7D7D83;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-shadow: none;
}

.modal-header .close:hover i,
.modal-header .close:focus {
    color: #000;
    outline: 0;
}

/* Pagination */

.pagination li a {
    padding: 9px 15px;
    background: #fafafa;
    color: #5c6662;
    border-color: #e8e8e8;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pagination li a:hover {
    color: #2b3cbd;
    background: #fafafa;
    border-color: #e8e8e8;
}

.pagination li a:focus {
    box-shadow: none!important;
}


.pagination li.active a {
    background: linear-gradient(90deg, rgba(85,195,183,1) 0%, rgba(95,208,165,1) 48%, rgba(102,218,144,1) 100%);
    color: #fff!important;
    border-color: #2b3cbd!important;
}

.pagination-circle .page-link {
    border-radius: 20px!important;
    margin-right: 5px;
}

/* Tabs & Navs */

.nav-link {
    padding: 9px 16px;
    border-radius: 10px!important;
}

.nav-tabs .nav-link {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
    color: rgba(73, 80, 87, .7);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.nav-tabs .nav-link:not(.active):hover {
    background: #fafafa;
}

.nav-tabs {
    margin-bottom: -15px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background: #2b3cbd;
 }

/* Popovers */


.popover {
    margin: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.08);
}

.popover-header {
    padding: 15px 25px 0;   
    background: transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #5c6662;
    opacity: .7;
}

.popover-body {
    padding: 15px 25px; 
    font-size: 13px;
    color: #7D7D83;
}

.popover .arrow:before {
    display: none;
}

/* Progress */

.progress {
    border-radius: 10px;
}

.progress .progress-bar {
    background: #2b3cbd;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


/* Toasts */

.toast {
    border: none;
    border-radius: 10px;
}

.toast-header {
    padding: 6px 16px;
    background: #fafafa;
    border-color: #e8e8e8;
}

.toast-header button.close i {
    font-size: 18px;
    vertical-align: middle;
}

.toast-header button:focus {
    outline: 0;
}

.toast-body {
    padding: 12px 16px;
}

.toast-body .toast-message {
    padding-left: 20px;
    display: block;
    float: left;
}

/* Tooltip */

.tooltip .tooltip-inner {
    padding: 5px 12px;
    border-radius: 10px;
}

/* Tables */

.table {
    color: #5c6662;
}

.table * {
    border-color: #E8E8E8!important;
    font-size: 13px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
}

.table td,
.table th {
    padding: 10px;
}

.table thead th {
    font-weight: bold;
    border-top: 0;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgba(92, 102, 98, .8);
    border-bottom-width: 1px;
}

.table .thead-dark th {
    background: #4a4a4a;
}

.table.table-hover tbody tr {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.table.table-hover tbody tr:hover {
    background: #fafafa;
}

/* Icons */

.icon-list-row {
    margin-top: 30px;
    text-align: center;
}

.icon-list-row i {
    font-size: 23px;
}

/* Forms */

.form-control {
    padding: 12px 25px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #e8e8e8;
    font-size: 13px;
    font-weight: bold;
    color: #5c6662;
}

select.form-control[multiple],
textarea.form-control {
    padding: 25px;
}

::-webkit-resizer {
    display: none;
}

.form-control::-webkit-input-placeholder {
    color: rgba(125, 125, 131,.6);
}

.form-control:focus {
    border-color: rgba(95, 208, 165, 0.6);
    box-shadow: 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #2b3cbd;
    background-color: #2b3cbd;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #8ff2cc;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #8ff2cc;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #8ff2cc;
    border-color: #8ff2cc;
}

.custom-control-label {
    font-size: 13px;
}

.custom-control-label::after {
    top: 3px;
    left: -22px;
    width: 17px;
    height: 17px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    top: 3px;
    left: -22px;
    width: 17px;
    height: 17px;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}
  
.custom-range:focus::-moz-range-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}
  
.custom-range:focus::-ms-thumb {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}
  
.custom-range::-webkit-slider-thumb {
    background-color: #2b3cbd;
}
  
.custom-range::-webkit-slider-thumb:active {
    background-color: #8ff2cc;
}
  
.custom-range::-moz-range-thumb {
    background-color: #2b3cbd;
}
  
.custom-range::-moz-range-thumb:active {
    background-color: #8ff2cc;
}
  
.custom-range::-ms-thumb {
    background-color: #2b3cbd;
}
  
.custom-range::-ms-thumb:active {
    background-color: #8ff2cc;
}

.input-group-text {
    border-color: #e8e8e8;
    background: #fafafa;
    border-radius: 25px;
    border-width: 2px;
    border-right: 0;
    padding: 9px 20px;
}

.input-group-prepend + .form-control {
    border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important;
}

.input-group-append + .form-control {
    border-top-left-radius: 25px!important;
    border-bottom-left-radius: 25px!important;
}

.invalid-feedback {
    color: #f05154;
}

.valid-feedback {
    color: #2b3cbd;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #f05154;
    background-image: none;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    border-color: #2b3cbd;
    background-image: none;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus {
    border-color: rgba(95, 208, 165, 0.6);
    box-shadow: 0 0 0 0.2rem rgba(95, 208, 165, 0.25);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: rgba(240, 81, 84, 0.6);
    box-shadow: 0 0 0 0.2rem rgba(240, 81, 84, 0.25);
}

.custom-control-input.is-valid~.custom-control-label,
.was-validated .custom-control-input:valid~.custom-control-label {
    color: #2b3cbd;
}

.custom-control-input.is-valid:checked~.custom-control-label::before,
.was-validated .custom-control-input:valid:checked~.custom-control-label::before {
    color: #fff;
    border-color: #2b3cbd;
    background-color: #2b3cbd;
}

.custom-control-input.is-invalid~.custom-control-label,
.was-validated .custom-control-input:invalid~.custom-control-label {
    color: #f05154;
}

.custom-control-input.is-invalid~.custom-control-label::before,
.was-validated .custom-control-input:invalid~.custom-control-label::before {
    border-color: #f05154;
}


/*------------------------------------------------------------
[5. Charts]
------------------------------------------------------------*/


/* NVD3 */

#nvd1,
#nvd2,
#nvd3,
#nvd4,
#nvd5,
#nvd6 {
    height: 400px;
}
.nvd3 .nv-x.nv-axis line {
    stroke: none;
    fill: none;
}

.nvd3 line.nv-guideline {
    stroke-width: 1px;
    stroke-opacity: .1;
    stroke: #000;
}

.tick text,
.nvd3 .nv-axis .nv-axisMaxMin text {
    fill: rgba(0,0,0,0.54);
    font-weight: bold;
}

.domain {
    opacity: 0;
}

.nvtooltip table {
    margin: 12px 10px 14px 15px;
    display: block;
}

.nvtooltip.xy-tooltip.nv-pointer-events-none {
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: #fff;
}

.nv-axislabel {
    fill: rgba(0,0,0,0.54);
    font-weight: bold!important;
    width: 0px;
}

.nv-indexLine {
    fill: #9e9e9e;
}

.nvtooltip table td.legend-color-guide div {
    border: 0;
    border-radius: 50%;
}

.tempDisabled {
    display: none!important;
}

/* Flotchart */

#flot1,
#flot2,
#flot4 {
    height: 300px;
}

#flot3{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#flotTip {
    border-radius: 0;
    background: rgba(51,51,51,0.8);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: #fff;
    padding: 5px;
    font-size: 13px!important;
}

#flot3 .pie-chart-legend {
    padding: 5px;
}

#flot3 table {
    display: block;
    width: auto!important;
}

#flot3 table td {
    padding: 5px;
}

/* Sparkline */

#sparkline1,
#sparkline2,
#sparkline3,
#sparkline4,
#sparkline5,
#sparkline6 {
    text-align: center;
}

.jqstooltip {
    box-sizing: content-box;
}


/*------------------------------------------------------------
[6. Plugins]
------------------------------------------------------------*/

/* Select2 */

.select2-selection {
    height: auto!important;
    padding: 12px 25px;
    border-radius: 25px!important;
    box-shadow: none;
    border: 2px solid #e8e8e8!important;
}

.select2-selection .select2-selection__rendered {  
    line-height: 1.5!important;
    padding-left: 0!important;
    font-size: 13px;
    font-weight: bold;
    color: #5c6662;
}

.select2-selection .select2-selection__arrow {  
    height: 41px!important;
    right: 20px!important;
}

.select2-selection.select2-selection--multiple {
    padding: 9px 25px!important;
    min-height: 0px!important;
}

.select2-selection.select2-selection--multiple .select2-selection__rendered {
    margin-top: 3px;
    margin-bottom: -3px;
}


.select2-selection.select2-selection--multiple .select2-selection__rendered input {
    margin-top: 0!important;
}

.select2-search--dropdown .select2-search__field {
    padding: 12px 25px;
    height: auto;
    border-radius: 25px;
    border: 2px solid #e8e8e8!important;
    font-size: 13px;
    font-weight: bold;
    color: #5c6662;
}

.select2-search--dropdown .select2-search__field:focus,
.select2-search--dropdown .select2-search__field:active {
    box-shadow: none!important;
    border-color: #E6E6E6!important;
    outline:none;
}

.select2-dropdown {
    padding: 12px 25px!important;
    border: 2px solid #e8e8e8!important;
    margin-top: 3px!important;
    border-radius: 25px!important;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
}

.select2-dropdown--above {
    margin-top: -3px!important;
    border-bottom: 1px solid #E6E6E6!important;
}

.select2-selection__choice {
    margin-top: 0!important;
    height: 19px!important;
    border: 0!important;
    background: #DDF0F1!important;
    color: #2b3cbd!important;
    font-size: 12px!important;
    font-weight: 500!important;
    padding: 0 10px;
}

.select2-results__option {
    border-radius: 20px;
    padding: 9px 16px;
}

.select2-selection__choice span {
    color: rgba(0,0,0,.3)!important;
}

.select2-container--default .select2-results__option .select2-results__option {
    border-radius: 20px;
    margin: 2px 0;
    padding: 9px 16px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: #DDF0F1;
    color: #2b3cbd;
}

.select2-container--default .select2-results__option[aria-selected=true]:hover {
    color: #2b3cbd;
}

.select2-container--default .select2-results__group {
    padding: 6px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    opacity: .7;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    color: #5c6662;
    border: 1px solid #e8e8e8!important;
    background: #fafafa;
}


/* Datatables */

table.dataTable {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

table.dataTable td, table.dataTable th {
    padding: 15px 25px!important;
    border-bottom: 1px solid #e8e8e8!important;
}

table.dataTable tfoot th {
    border-bottom: 0!important;
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: rgba(92, 102, 98, .8);
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    content: '\e316';
    font-family: 'Material Icons';
    font-size: 14px;
    right: 10px;
    bottom: calc(50% - 4px);
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    content: '\e313';
    font-family: 'Material Icons';
    font-size: 14px;
    right: 10px;
    bottom: calc(50% - 14px);
}

div.dataTables_wrapper div.dataTables_length select {
    margin: 0 10px;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 10px;
}

tr.group {
    background-color: #fafafa!important;
}

/* BlockUI */

.blockUI.blockOverlay {
    border-radius: inherit;
    background: rgba(255,255,255)!important;
    opacity: .8!important;
}

.blockUI.blockMsg {
    background: transparent!important;
    width: 25px!important;
    border: 0!important;
    height: 25px!important;
    left: calc(50% - 12.5px)!important;
    top: calc(50% - 12.5px)!important;
}

/* JSTree */

.jstree-default .jstree-themeicon {
    background-image: none;
}

.jstree-default .jstree-themeicon:before {
    content: '\e2c7';
    font-family: 'Material Icons';
    background: none;
    font-size: 16px;
    width: 20px;
    height: 20px;
    font-style: normal;
    color: #2b3cbd;
}

.jstree-default .jstree-anchor {
    padding: 0 5px;
    height: auto;
    margin: 0 5px;
    border-radius: 7px;
    font-size: 13px;
}

.jstree-default .jstree-anchor:hover,
.jstree-default .jstree-anchor.jstree-clicked {
    background: #fafafa;
    border: 0!important;
    box-shadow: none!important;
}


/* Error Pages */

.error-page .connect-container {
    height: 100vh;
}

.error-page .row {
    width: 100%;
}

.error-page-image,
.error-page-text {
    display: block;
    width: 100%;
}

.error-page-image {
    height: 70vh;
}

.error-page-text {
    height: 30vh;
    text-align: center;
}

.error-page-text h3 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: rgba(92, 102, 98, .7);
    margin-bottom: 20px;
}

.error-page.error-404 .error-page-image {
    background: url('../images/404.svg') center center no-repeat;
    background-size: 100% 70%;
}

.error-page.error-500 .error-page-image {
    background: url('../images/500.svg') center center no-repeat;
    background-size: 100% 70%;
}


/* Authentication */

.auth-page .connect-container > div > .row {
    height: 100vh;
}

.auth-page .connect-container > div > .row > div {
    align-items: center;
    flex-direction: row;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.auth-page .auth-form {
    padding: 15%;
    vertical-align: middle;
    flex: 1;
}

.auth-page .auth-image {
    width: 100%;
    height: 100%;
}

.auth-page.sign-in .auth-image {
    background: url('../images/login.svg') center center no-repeat;
    background-size: 90% 70%;
}

.auth-page .logo-box {
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
}

.auth-page .logo-box a {
    font-size: 32px;
}

.auth-page form .btn-submit {
    margin-top: 30px;
}

.auth-page form .auth-options {
    overflow: hidden;
    display: block;
    margin-top: 20px;
}

.auth-page form .auth-options div {
    float: left;
    margin-left: 25px;
}

.auth-page form .auth-options a.forgot-link {
    float: right;
    margin-right: 25px;
}


/*------------------------------------------------------------
[7. APPS]
------------------------------------------------------------*/

/* Mailbox */

.mailbox-menu,
.mailbox-contacts {
    margin-bottom: 30px;
}

.mailbox-menu li a {
    display: block;
    padding: 9px 20px;
    color: rgba(125, 125, 131, .8);
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-bottom: 3px;
    overflow: hidden;
    line-height: 23px;
}

.mailbox-menu li a:hover {
    background: rgba(0,0,0,.01);
}

.mailbox-menu li a.active {
    background: rgba(0,0,0,.01);
    color: #2b3cbd;
}

.mailbox-menu li:last-child a {
    margin-bottom: 0;
}

.mailbox-menu-header {
    margin: 9px 20px 20px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5c6662;
}

.mailbox-groups li a {
    display: block;
    padding: 9px 20px;
    border-radius: 10px;
    color: rgba(125, 125, 131, .8);
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.mailbox-groups li a:hover {
    background: rgba(0,0,0,.01);
}

.mailbox-groups li a i {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #000;
    vertical-align: middle;
    display: inline-block;
    content: '';
    margin-right: 10px;
    line-height: 23px;
}

.mailbox-groups li a i.mailbox-group-friends {
    background: #f05154;
}

.mailbox-groups li a i.mailbox-group-work {
    background: #F49E31;
}

.mailbox-groups li a i.mailbox-group-family {
    background: #36A1EA;
}

.mailbox-contacts li a {
    position: relative;
    display: block;
    padding: 9px 15px;
    border: 1px solid #e8e8e8;
    color: rgba(125, 125, 131, .8);
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
    background: #fafafa;
    border-radius: 60px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: 40px;
}

.mailbox-contacts li a img {
    width: 40px;
    border-radius: 40px;
    margin-right: 15px;
}

.mailbox-contacts li a:hover {
    box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    color: #2b3cbd;
}

.inbox-options {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    margin-bottom: 25px;
}

.inbox-options .inbox-checkbox-all {
    flex: 2;
    text-align: center;
    padding: 7px 0;
}

.inbox-options .inbox-checkbox-all .custom-control {
    margin: 5px 0;
}

.inbox-options .inbox-page-count {
    flex: 5;
    line-height: 47px;
    font-weight: bold;
    font-size: 13px;
}

.inbox-options .inbox-search {
    flex: 19;
}

.inbox-options .inbox-search input {
    width: 250px;
    float: right;
}

.inbox-list {
    margin: 0 -25px;
}

.inbox-list li a {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    color: rgba(125, 125, 131, 1);
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid #e8e8e8;
    padding: 12px 25px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.inbox-list li:last-child a {
    border-bottom: 1px solid #e8e8e8;
}

.inbox-list li a:hover,
.inbox-list li a.selected {
    background: #FAFAFA;
}

.inbox-list li a > div:not(.mail-checkbox):not(.mail-star) {
    display: inline-block;
    line-height: 30px;
}

.inbox-list li a .mail-checkbox {
    flex: 2;
    text-align: center;
    line-height: 0;
}

.inbox-list li a .mail-checkbox .custom-control {
    margin-bottom: 0;
    min-height: 0!important;
    margin: 5px 0 10px;
}

.inbox-list li a .mail-author {
    flex: 7;
}

.inbox-list li a .mail-title {
    flex: 12;
    text-overflow: ellipsis;
    white-space: nowrap;
    hyphens: auto;
    overflow: hidden;
}

.inbox-list li a .mail-date {
    flex: 3;
    text-align: right;
}

.inbox-list li a .mail-star {
    flex: 2;
    text-align: center;
}

.inbox-list li a .mail-star i {
    line-height: 30px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-size: 21px;
}

.inbox-list li a .mail-star.important i {
    color: #F49E31;
}

.inbox-list li a .mail-author img {
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.inbox-pagination {
    margin: 25px 0 0;
    float: right;
}

.mailbox-compose {
    display: table;
    position: fixed;
    height: calc(100% - 60px);
    width: 400px;
    background: #fff;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    padding: 45px;
    transform: translateX(100%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 30px 0;
}

.mailbox-compose.show {
    transform: translateX(0);
}

.mailbox-compose-overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.mailbox-compose-show .mailbox-compose-overlay {
    opacity: 1;
    visibility: visible;
}

.mailbox-compose-content {
    display: table-cell;
    vertical-align: middle;
}

.mailbox-compose .mailbox-compose-header {
    overflow: hidden;
    text-align: center;
}

.mailbox-compose-header h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    line-height: 30px;
    margin-bottom: 0;
}

.mailbox-compose-body {
    padding: 30px 0;
}

.compose-options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 20px 0;
}

.compose-options a {
    flex: 1;
    margin: 5px;
    display: block;
    color: rgba(125, 125, 131, .8);
    border-radius: 20px;
    padding: 10px;
    line-height: 0;
    text-align: center;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.compose-options a i {
    font-size: 19px;
    line-height: 19px;
}

.compose-options a:hover {
    background: rgba(0,0,0,.01);
    color: #2b3cbd;
}

.compose-buttons {
    text-align: right;
}

.mailbox-item {
    display: block;
    position: fixed;
    height: calc(100vh - 60px);
    width: 750px;
    background: #fff;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    padding: 45px;
    transform: translateX(100%);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 30px 0;
    overflow-y: scroll;
}

.mailbox-item.show {
    transform: translateX(0);
}

.mailbox-item-overlay {
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.mailbox-item-show .mailbox-item-overlay {
    opacity: 1;
    visibility: visible;
}

.mail-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mail-header {
    width: 100%;
    display: block;
}

.mail-header .mail-title {
    float: left;
    line-height: 38px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
}

.mail-actions {
    margin-top: auto;
    text-align: right;
}

.mail-actions .btn {
    margin-right: 10px;
}

.mail-actions .btn:last-child {
    margin-right: 0;
}

.mail-info {
    display: block;
    width: 100%;
    margin-top: 15px;
}

.mail-info .mail-author {
    float: left;
}

.mail-info .mail-author img {
    width: 50px;
    border-radius: 50px;
    border: 3px solid #EDEDF1;
    float: left;
}

.mail-info .mail-author-info {
    padding: 0 15px;
    display: inline-block;
    height: 50px;
}

.mail-info .mail-author span.mail-author-name {
    display: block;
    font-weight: 600;
    line-height: 25px;
}

.mail-info .mail-author span.mail-author-address {
    display: block;
    line-height: 25px;
}

.mail-info .mail-other-info {
    float: right;
}

.mail-info .mail-other-info span {
    line-height: 50px;
}

.mailbox .card {
    min-height: calc(100% - 25px);
}

/* Profile */

.app-profile .page-container:before {
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background: url('../images/profile-bg.jpg') no-repeat;
    background-size: cover;
    z-index: -3;
}

.app-profile .page-container:after {
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    position: absolute;
    content: '';
    background: rgba(0,0,0,.8);
    z-index: -2;
}

.app-profile .page-header .navbar ul.navbar-nav > li > a:hover {
    color: #fff;
}

.app-profile .page-header #nav-search {
    background: rgba(255,255,255,.2);
    color: #eee;
}

.app-profile .page-header #nav-search:focus {
    background: rgba(255,255,255,.3);
}

.app-profile .page-content {
    padding-top: 70px;
}

.profile-header .profile-img {
    position: relative;
    float: left;
    margin-top: 40px;
}

.profile-header .profile-img img {
    width: 160px;
}

.profile-header .profile-img:before {
    width: 170px;
    height: 170px;
    left: -5px;
    top: -5px;
    content: '';
    background: #fff;
    border-radius: 210px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 1.25rem rgba(31,45,61,.2);
}

.profile-header .profile-name {
    display: block;
    float: left;
    margin-top: 82px;
    margin-left: 30px;
    color: #fff;
}

.profile-header .profile-name span {
    margin-top: 45px;
    display: block;
    color: rgba(125, 125, 131, 1);
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}

.profile-header .profile-menu {
    float: right;
    height: 174px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.profile-header .profile-menu ul {
    margin-top: auto;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 0;
}

.profile-header .profile-menu ul li {
    float: left;
}

.profile-header .profile-menu ul li a {
    display: block;
    padding: 15px;
    margin: 12px 10px;
    font-size: 13px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(255,255,255,.6);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.profile-header .profile-menu ul li a:hover {
    color: rgba(255,255,255,1)
}

.profile-header .profile-menu .profile-status {
    height: 40px;
    align-self: flex-end;
    padding: 20px 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.profile-header .profile-menu .profile-status i {
    width: 6px;
    height: 6px;
    content: '';
    position: relative;
    border-radius: 6px;
    float: left;
    display: block;
    margin: 7px 10px;
}

.profile-header .profile-menu .profile-status i.active-now {
    background: #2b3cbd;
}

.profile-content {
    margin-top: 40px;
}

.profile-about-list {
    margin-bottom: 0;
}

.profile-about-list li {
    margin-bottom: 8px;
    position: relative;
}

.profile-about-list li:last-child {
    margin-bottom: 0px;
}

.profile-about-list li i {
    font-size: 17px;
    width: 25px;
    position: absolute;
    top: 2px;
}

.profile-about-list li span {
    padding-left: 25px;
    display: block;
}

.post-header,
.post-body {
    display: block;
    overflow: hidden;
    width: 100%;
}

.post-header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    float: left;
}

.post-header .post-info {
    float: left;
    padding: 5px 15px 0 15px;;
}

.post-header .post-info span.post-author {
    font-size: 13px;
    font-weight: bold;
    color: #474747;
}

.post-header .post-info span.post-date {
    font-size: 13px;
}

.post-header .post-header-actions {
    float: right;
    padding: 15px 0;
}

.post-header .post-header-actions a {
    color: #7D7D83;
    line-height: 20px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.post-header .post-header-actions a:hover {
    color: #2b3cbd;
}

.post-body {
    padding: 15px 0 0 0;
    position: relative;
}

.post-body p {
    margin-bottom: 0;
}

.post-body .post-image {
    display: block;
    width: 100%;
    border-radius: 6px;
    margin-top: 15px;
}

.post-actions,
.post-actions ul {
    display: block;
    overflow: hidden;
    margin-bottom: 0;
}

.post-actions {
    border-top: 1px solid #E5E9EC;
    padding-top: 5px;
    margin-top: 15px;
}

.post-actions ul li a {
    float: left;
    padding: 9px 16px;
    font-size: 13px;
    margin-right: 10px;
    font-weight: bold;
    color: #474747;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.post-actions ul li a:hover {
    color: #2b3cbd;
}

.post-actions ul li a.liked {
    color: #844FF1;
}

.post-actions ul li a.liked i:before {
    content: '\f004';
}

.post-actions ul li a i {
    margin-right: 7px;
}

.post-comments {
    margin-top: 5px;
    border-top: 1px solid #E5E9EC;
    padding-top: 15px;
}

.post-comments .post-comm {
    display: block;
    margin-bottom: 10px;
    background: #fafafa;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
}

.post-comments .post-comm:last-child {
    margin-bottom: 0;
}

.post-comments .post-comm img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    float: left;
}

.post-comments .post-comm .comment-container {
    float: left;
    padding: 0 10px;
    width: calc(100% - 30px);
    display: block;
}

.post-comments .post-comm .comment-container span.comment-author {
    color: #333;
    font-weight: bold;
    display: block;
    line-height: 30px;
}

.post-comments .post-comm .comment-container span.comment-author small {
    float: right;
    font-size: 12px;
    color: #646464;
}

.post-comments .post-comm .comment-text {
    padding: 10px 0 0 0;
    display: inline-block;
}

.post-comments .input-group > .input-group-append > .btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 1px solid #e8e8e8;
}

.post-comments .new-comment {
    margin-top: 20px;
}

/* File Manager */

.file-manager-menu {
    margin-top: 20px;
}

.file-manager-menu .fmm-title {
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    opacity: .4;
}

.file-manager-menu ul li a {
    margin: 15px;
    display: block;
    color: #6c757d;
    font-weight: bold;
    font-size: 13px;
    opacity: .6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.file-manager-menu ul li a.active,
.file-manager-menu ul li a:hover {
    color: #2b3cbd;
    opacity: 1;
}

.file-manager-menu ul li a i {
    font-size: 18px;
    vertical-align: top;
    margin-right: 10px;
}

.file-manager-menu.label-menu ul li a i {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #000;
    display: inline-block;
    vertical-align: middle;
    margin: 0 16px 0 6px;
}

.storage-info {
    display: block;
    padding: 10px 15px;
}

.storage-info .storage-info-title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    opacity: .4;
    display: block;
    margin-bottom: 15px;
}

.storage-info .storage-info-text {
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    font-size: 12px;
}

.file-list,
.recent-files .file {
    margin-bottom: 0;
}

.file-options {
    position: absolute;
    right: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.file:hover .file-options,
.folder:hover .file-options {
    visibility: visible;
    opacity: 1;
}

.file-options > a {
    margin: 15px 10px;
    display: block;
    color: #7D7D83;
    opacity: 0.6;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.file-options > a i {
    font-size: 19px;
}

.file-options > a:hover {
    opacity: 1;
    color: #2b3cbd;
}

.file-options > a::after {
    display: none;
}

.file .file-icon {
    vertical-align: middle;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
    background: #EDEDF1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.file .file-icon i {
    vertical-align: middle;
    font-size: 48px;
}

.file.photo .file-icon i {
    color: #36A1EA;
}

.file.pdf .file-icon i {
    color: #f05154;
}

.file .file-info p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 13px;
}

.file .file-info span.file-size {
    color: rgba(0,0,0,.4);
}

.file .file-info span.file-date {
    font-size: 12px;
    color: rgba(0,0,0,.4);
    margin-top: 10px;
    display: block;
}

.folder .folder-icon {
    float: left;
}

.folder .folder-icon i {
    font-size: 36px;
}

.folder .folder-info {
    display: block;
    margin-left: 20px;
    float: left;
}

.folder .folder-info a {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 13px;
    display: block;
    color: #7D7D83;
}

.folder .folder-info span {
    font-size: 12px;
    color: rgba(0,0,0,.4);
}

.upgrade-text ul {  
    list-style-type: circle;
    color: rgba(255,255,255,.8);
    padding-left: 25px;
    font-weight: bold;
    font-size: 13px;
}

.upgrade-image {
    height: 180px;
    background: url(../images/file-manager-upgrade.svg) center center no-repeat;
    background-size: contain;
}

@media (max-width: 1200px) {
    .file {
        margin-bottom: 20px!important;
    }
}


/* Calendar */

.fc-toolbar .btn.btn-primary {
    color: #7D7D83;
    background: #F4F4F5;
}
.fc-toolbar .btn.btn-primary:hover:before {
    display: none!important;
    opacity: 0!important;
}

.fc-toolbar .btn.btn-primary:focus:before,
.fc-toolbar .btn.btn-primary.active:before,
.fc-toolbar .btn.btn-primary:active:before {
    display: none!important;
}

.fc-toolbar .btn.btn-primary:hover {
    background: #e8e8e8!important;
    color: #7D7D83!important;
}

.fc-toolbar .btn.btn-primary:focus,
.fc-toolbar .btn.btn-primary.active,
.fc-toolbar .btn.btn-primary:active {
    background: #e8e8e8!important;
    box-shadow: none;
}

.fc-toolbar .btn.btn-primary:not(:disabled):not(.disabled).active,
.fc-toolbar .btn.btn-primary:not(:disabled):not(.disabled):active:focus, 
.fc-toolbar .btn.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .fc-toolbar .btn.btn-primary.dropdown-toggle:focus,
.show > .fc-toolbar .btn.btn-primary.dropdown-toggle {
    color: #7D7D83!important;
    background: #e8e8e8!important;
    box-shadow: none;
}

.fc-toolbar h2 {
    font-size: 21px;
    text-transform: uppercase;
}

.fc-view-container {
    margin-top: 30px!important;
}

.fc th,
.fc-head-container,
.fc .table-bordered  {
    border: none!important;
}

.fc-head-container {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

.fc-day-header {
    padding: 12px 0!important;
}

.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    float: left;
    margin: 15px;
}

.fc-body > tr > td {
    border: none!important;
    border-bottom: 1px solid #e8e8e8!important;
}

.fc.fc-bootstrap a {
    margin-top: 4px;
    border-radius: 30px;
    padding: 5px 15px;
    color: #2b3cbd!important;
    background: #cdf7e7;
    border: 0!important;
}

.fc.fc-bootstrap a.fc-not-start {
    padding-left: 15px;
}

.fc-more-cell {
    padding: 5px 0!important;
}

.fc .fc-today {
    color: #2b3cbd;
    background: #FAFAFA;
}

.fc-ltr .fc-axis {
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.fc .fc-axis {
    padding: 7px 12px;
}

/* Todo */

.todo-menu {
    margin: 30px 0 10px 0!important;
}

.todo-menu li a {
    display: block;
    padding: 9px 20px;
    color: rgba(125, 125, 131, .8);
    font-weight: bold;
    font-size: 13px;
    border-radius: 10px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin-bottom: 3px;
    overflow: hidden;
    line-height: 23px;
}

.todo-menu li a:hover {
    background: rgba(0,0,0,.01);
}

.todo-menu li.active a {
    background: rgba(0,0,0,.01);
    color: #2b3cbd;
}

.todo-menu li:last-child a {
    margin-bottom: 0;
}

.todo-menu ul li a i {
    width: 25px;
    display: inline-block;
    vertical-align: middle;
}

.todo-list {
    margin: -25px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.todo-list ul {
    margin-bottom: 0;
}

.todo-list ul li a {
    display: block;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
    padding: 16px 25px 16px 48px;
    color: #7D7D83;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.todo-list ul li a .custom-control-label {
    margin-right: 10px;
}

.todo-list ul li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.todo-list ul li:last-child a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 0;
}

.todo-list ul li a.done,
.todo-list ul li a.done:hover {
    background: #fafafa;
    text-decoration: line-through!important;
}


/* Dashboard */

.stats-row {
    margin-bottom: 20px;
}

.stats-card {
    border-right: 2px solid #EDEDF1!important;
    border-radius: 0!important;
}

.stats-row > div:last-child .stats-card {
    border-right: 0!important;
}

.stats-card .stats-info {
    float: left;
}

.stats-card .card-title {
    font-size: 28px;
    color: rgba(108, 117, 125,1);
    line-height: 32px;
    margin-bottom: 0;
    font-weight: 500;
}

.stats-card .card-title span.stats-change {
    font-size: 14px;
    vertical-align: text-top;
    margin-left: 10px;
}

.stats-card .card-title span.stats-change.stats-change-success {
    color: #2b3cbd;
}

.stats-card .card-title span.stats-change.stats-change-danger {
    color: #f05154;
}

.stats-card .stats-text {
    margin-bottom: 0;
    line-height: 25px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 13px;
    opacity: .6;
}

.stats-card .stats-icon {
    float: right;
    padding: 10px;
    border-radius: 10px;
    line-height: 1;
    margin: 11px 15px 0 0;
}

.stats-card .stats-icon.change-success {
    color: #2b3cbd;
    background-color: #DDF0F1;
}

.stats-card .stats-icon.change-danger {
    color: #f05154;
    background: #fcdcdc;
}

.stats-card .stats-icon i {
    line-height: 1;
}

#sparkline-chart-1 {
    width: calc(100% + 51px);
    height: 100px;
    margin: 20px -26px -27px -25px;
}

.savings-stats h5 {
    color: #474747;
    font-size: 22px;
}

.savings-card,
.top-products {
    position: relative;
    overflow: hidden;
}

.top-products .card-body { 
    padding-bottom: 0;
}

.top-products .product-item {
    padding: 15px 25px;
    display: block;
    overflow: hidden;
    clear: both;
    border-bottom: 1px solid #e8e8e8;
    margin: 0 -25px;
    position: relative;
}

.top-products .product-item:last-child {
    border-bottom: 0;
}

.top-products .top-products-list .product-item:nth-child(2n) {
    background: #fafafa;
}

.top-products .product-item h5 {
    font-size: 12px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 5px;
}

.top-products .product-item .product-item-status {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 19px;
}

.top-products .product-item .product-item-status.product-item-success {
    color: #2b3cbd;
}

.top-products .product-item .product-item-status.product-item-danger {
    color: #f05154;
}

.visitors-stats {
    overflow: hidden;
}

.visitors-stats .visitors-stats-info {
    float: left;
    overflow: hidden;
    position: relative;
}

.visitors-stats .visitors-stats-info h5 {
    font-size: 26px;
    color: #474747;
    margin-bottom: 0;
}

.visitors-stats .progress {
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    position: relative;
}

.visitors-stats .progress .progress-bar {
    background: #fac47d!important;
}

.card-transactions .table-responsive {
    margin: 0 -25px -39px;
    width: calc(100% + 51px);
}

.server-load > .server-stat {
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
    text-align: center;
}

.server-load .server-stat span {
    font-size: 13px;
    margin-top: 3px;
}

.server-load .server-stat p {
    font-size: 19px;
    color: #474747;
    line-height: 32px;
    margin-bottom: 0;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

#server-load-chart {
    width: calc(100% + 66px);
    height: 207px;
    margin: 40px -33px -33px;
}

.server-load,
.card-transactions {
    overflow: hidden;
    position: relative;
}

/* Loader */

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #1F2128;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.loader .spinner-grow {
    top: 50%;
    left: 50%;
    margin: -13px 0 0 -13px;
    position: absolute;
}

.no-loader .loader {
    visibility: hidden;
    opacity: 0;
}


/*------------------------------------------------------------
[8. RESPONSOVE]
------------------------------------------------------------*/

@media (max-width: 1199px) {
    .page-content{
        margin-left: 0px;
    }
    .page-sidebar {
        transform: translateX(-100%);
        z-index: 9999;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .page-container {
        width: 100%!important;
        margin: 0!important;
    }

    .small-screens-sidebar-link {
        display: block;
    }
    
    .profile-header {
        margin-top: -60px;
    }
    
    .profile-img {
        display: block;
        float: none!important;
    }
    
    .profile-img img {
        margin: 0 auto;
        display: inherit;
        width: 100px!important;
        height: 100px!important;
        border-radius: 100px!important;
    }
    
    .profile-name {
        display: block;
        float: none!important;
        text-align: center;
        margin: 0!important;
        color: #7d7d83!important;
    }
    
    .profile-name h3 {
        margin-top: 30px;
    }
    
    .profile-header .profile-menu {
        display: block;
        float: none;
        margin: 0;
        text-align: center;
        height: auto;
        margin-top: 20px;
    }
    
    .profile-header .profile-menu ul li {
        display: block;
        padding: 0;
        width: calc(100%/6);
        text-align: center;
    }
    
    .profile-header .profile-menu ul li a {
        padding: 10px;
        text-align: center;
        height: auto!important;
        color: #a1a1a1;
    }
    
    .profile-header .profile-menu ul li a:hover, 
    .profile-header .profile-menu ul li a.active {
        color: #000;
    }

    .profile-status {
        display: none;
    }

    .profile-header .profile-img:before {
        width: 110px;
        height: 110px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 110px;
    }

    .page-content {
        margin-top: 125px!important;
    }

    .app-profile .page-content {
        margin-top: 186px!important;
    }

    .page-header {
        background: #fff;
        position: fixed;
        width: 100%;
        z-index: 99;
        box-shadow: 0 0 1.25rem rgba(31,45,61,.04);
    }

    .page-header .navbar {
        height: 66px;
        padding: 5px 35px!important;
    }
    .app-profile .page-header .navbar ul.navbar-nav > li > a:hover {
        color: #262633;
    }

    .app-profile .page-header #nav-search {
        background: #ededf1;
    }
}

@media (max-width: 991px) {
    .page-sidebar {
        width: 100%;
        padding: 50px;
        visibility: hidden;
        opacity: 0;
        transform: translateX(0);
    }

    .accordion-menu > li > a {
        transition: none!important;
    }

    .small-screen-sidebar-active .page-sidebar {
        opacity: 1;
        visibility: visible;
    }

    .page-header .navbar-collapse {
        display: none!important;
    }

    .page-header .navbar-search {
        margin-left: auto;
        width: 100px;
    }

    #nav-search {
        width: 100px;
        float: right;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    #nav-search:focus {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        margin: 0!important;
        padding: 21px 40px!important;
        border-radius: 0!important;
        border-color: #fff!important;
    }

    .page-header .navbar ul li.nav-profile > a span,
    .page-header .navbar ul li.nav-profile > a i {
        display: none;
    }

    .page-header .navbar ul li.nav-profile > a img {
        margin: 3px 0;
    }

    .stats-card {
        border-right: 0!important;
        border-bottom: 2px solid #e8e8e8!important;
    }

    .mailbox-item {
        width: 450px;
    }

    .mailbox-item .mail-actions {
        margin-bottom: 30px;
    }

}

@media (max-width: 767px) {
    .slimscroll {
        overflow-y: auto;
    }
    
    .fc.fc-bootstrap a {
        display: none;
    }

    .fc-toolbar.fc-header-toolbar {
        flex-direction: column;
    }

    .fc-toolbar.fc-header-toolbar > div {
        margin-bottom: 20px;
    }
    .page-header .navbar {
        height: 66px;
        padding: 5px 10px!important;
    }

    .page-content .page-info .breadcrumb {
        float: none;
    }

    .page-content .page-info .page-options {
        float: none;
        display: block;
        clear: both;
        position: relative;
        margin-top: 15px;
    }

    .page-content .page-info .page-options .btn {
        display: block;
        margin: 5px 0!important;
    }

    .inbox-options {
        display: block;
    }

    .inbox-options .inbox-checkbox-all {
        float: left;
    }

    .inbox-options .inbox-search input {
        float: none;
    }

    .mail-actions .btn {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .mailbox-item {
        width: 100%;
        border-radius: 0;
        z-index: 101;
    }

    .mailbox-item-overlay {
        z-index: 100;
    }
}